        /* CORPO */
        
        .corpo{
            display: grid;
            grid-template-columns: repeat(4, 1fr) ;
            grid-template-rows: repeat(2, 1fr);
            padding-bottom: 120px
        }
        .corpo .mid-icon{
            display: flex;
            align-items: center;
            flex-direction: column;
            
        }
        .corpo .bot-icon h3{
            margin-top: 30px;
            text-align: center;
            font-size: 13pt;
        }
        .corpo .bot-icon{
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
        }
        .corpo .bot-icon p{
            margin-top: 10px;
            font-size: 11pt;
        }
        .corpo .mid-icon:nth-child(1){
            grid-column: 1/5;
        }
        .corpo div h1{
            font-size: 25pt;
        }
        