.plano .cartao h2{
    text-align: center;
    margin-top: 5%;
    font-size: 30px;
}
.plano .cartao p{
    text-align: center;
    margin-top: 10px;
    font-size: 11pt;
}
.plano .cartao .parceiros{
    margin-top: 20px;
}
.plano .cartao .parceiros ul{
    display: flex;
    padding: 0px;
    margin: 0px;
    justify-content: center;
    align-items: center;
    margin-bottom: 50px;
}
.plano .cartao .parceiros ul li{
    margin-right: 5px;
    font-size: 8pt;
    text-decoration: underline;
}
.plano .cartao .parceiros img{
    width: 28px;
    height: 15px;
}
.plano .plano-1{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    margin: 10px;
    width: 440px;
}
.plano .plano-1 p{
    font-size: 11pt;
}
.plano .plano-1 div{
    background-color: white;
    
}
.plano .plano-1 .plano-quadrado{
    display: flex;
    flex-direction: column;
    width: 240px;
    border-radius: 10px;
    padding: 15px;
    margin-right: 15px;
    box-shadow: 0 0 8px rgb(0, 0, 0, 30%);
    text-align: left;
    gap: 20px;
}
.plano .plano-1 .plano-quadrado .plano-triangulo{
    display: flex;
    flex-direction: column;
    gap: 20px;
    text-align: left;
    min-height: 172px;
}
.plano .plano-1 .plano-quadrado .plano-triangulo .plano-y .adv-sub{
    font-size: 11px;
    text-align: left;
    min-height: 100px;
    margin-top: 20px;
    color: rgb(83, 83, 83);
}
.plano .plano-1 .plano-quadrado .plano-triangulo .plano-y .adv-sub a{
    color: rgb(83, 83, 83);
}
.plano .plano-1 .plano-quadrado .plano-triangulo .plano-x ul{
    display: flex;
    flex-direction: column;
    min-height: 300px;
}
.plano .plano-1 .plano-quadrado .plano-triangulo .plano-x ul li{
    display: flex;
    gap: 8px;
    padding: 5px 0;
}
.plano .plano-1 .plano-quadrado .plano-triangulo .plano-x ul li img{
    width: fit-content;
    height: fit-content;
}
.plano .plano-1 .plano-quadrado .plano-triangulo .plano-circulo{
    display: flex;
    flex-direction: column;
    gap: 10px;
    text-align: left;
    min-height: 172px;
}
/* .plano div .cartao .parceiros ul li div{
    display: none;
    position: absolute;
    
}
.plano div .cartao .parceiros ul li:hover div{
    display: block;
}
.plano div .cartao .parceiros ul li:hover div img{
    width: 100%;
} */

